# Core
fastapi==0.115.0
uvicorn[standard]==0.30.1
pydantic==2.9.2
python-dotenv==1.0.1
requests==2.32.3

# Database
psycopg2-binary==2.9.10
SQLAlchemy==2.0.34
geoalchemy2==0.15.2

# Streamlit frontend
streamlit==1.37.1
folium==0.17.0
streamlit-folium==0.21.1
plotly==5.24.0

# Data handling
pandas>=2.2.3,<2.4
numpy>=1.26.4
xarray==2024.7.0


# Machine learning / imaging / plotting
scikit-learn==1.6.0
opencv-python-headless==4.10.0.84
matplotlib==3.9.2

# Additional libraries
reportlab
Pillow
beautifulsoup4
websocket-client
